# Variaveis de ambiente
.env

# Pastas e arquivos de compilação (PyInstaller)
build/
dist/
*.exe
*.spec

# Cache do Python
__pycache__/
*.pyc

# Arquivos de estado local e logs (se alterarem dinamicamente)
state.json

# IDEs
.vscode/
.idea/

# Demais arquivos
test_email.py
